<div class="mt-4" [formGroup]="checkoutForm">
    <div class="d-flex justify-content-between align-items-center">
        <h5>Adres dostawy</h5>
        <button (click)="saveUserAddress()" [disabled]="!checkoutForm.get('addressForm').valid || !checkoutForm.get('addressForm').dirty" class="btn btn-outline-success mb-3">
            Zapisz jako adres domyślny
        </button>
    </div>
    <div class="row" formGroupName="addressForm">
        <div class="form-group col-5">
            <app-text-input [label]="'Imię'" formControlName="firstName"></app-text-input>
        </div>
        <div class="form-group col-5">
            <app-text-input [label]="'Nazwisko'" formControlName="surname"></app-text-input>
        </div>
        <div class="form-group col-10">
            <app-text-input [label]="'Ulica i numer domu/mieszkania'" formControlName="street"></app-text-input>
        </div>
        <div class="form-group col-5">
            <app-text-input [label]="'Kod pocztowy'" formControlName="postCode"></app-text-input>
        </div>
        <div class="form-group col-5">
            <app-text-input [label]="'Miejscowość'" formControlName="city"></app-text-input>
        </div>
        <div class="form-group col-5">
            <app-text-input [label]="'Telefon'" formControlName="phoneNumber"></app-text-input>
        </div>
        <div class="form-group col-5">
            <app-text-input [label]="'Nr domu'" formControlName="houseNumber"></app-text-input>
        </div>
        <div class="form-group col-5">
            <app-text-input [label]="'Nr lokalu'" formControlName="apartmentNumber"></app-text-input>
        </div>
    </div>
</div>
<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" routerLink="/basket">
        <i class="fa fa-angle-left"></i> Wróć do koszyka
    </button>
    <button class="btn btn-outline-primary" cdkStepperNext>
        Przejdź do dostaw <i class="fa fa-angle-right"></i> 
    </button>
</div>