<section class="featured" style="margin-top: 100px; margin-bottom: 50px;">
    <h1 style="text-align: center;">
        Witamy w sklepie hydraulicznym
    </h1>
</section>

    <carousel class="slider">
        <slide>
            <img src="assets/images/zawory.png" alt="hero3" style="display:block; width:100%; max-height: 700px; "> 
         </slide>
        <slide>
            <img src="assets/images/rury.jpg" alt="hero2" style="display:block; width:100%; max-height: 700px;"> 
         </slide>
       
    </carousel>
