<app-admin-nav-bar></app-admin-nav-bar>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover" style="cursor: pointer;">
                <thead class="thead-light">
                    <tr>
                        <th>Zamówienie</th>
                        <th>Imię i nazwisko</th>
                        <th>Data</th>
                        <th>Suma</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let order of orders" >
    
                    <th routerLink="/orders/{{order.id}}">#{{order.id}}</th>
                    <th routerLink="/orders/{{order.id}}">{{order.shipToAddress.firstName}} {{order.shipToAddress.surname}} </th>
                    <th routerLink="/orders/{{order.id}}">{{order.orderDate | date: 'medium'}}</th>
                    <td routerLink="/orders/{{order.id}}">{{ getValue(order.shippingPrice,order.subtotal) }} zł</td>
                    <td><select [id]="order.id"><option *ngFor="let opt of statuses"  [selected]="opt == order.status">{{opt}}</option> </select></td>
                    <th><button type="button" (click)="changeOrderStatus(order.id)">Zmień status</button></th>
                </tbody>
            </table>
        </div>
    </div>
</div>