<div class="container mt-5">
    <button routerLink="admin/products/add"  routerLinkActive="active">
Dodaj
    </button>
    <div class="row"> 
        <div class="col-8">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="border-0 bg-light">
                                <div class="text-uppercase">Id</div>
                            </th>
                            <th class="border-0 bg-light">
                                <div class="text-uppercase">Zdjęcie</div>
                            </th>
                            <th class="border-0 bg-light">
                                <div class="text-uppercase">Nazwa</div>
                            </th>
                            <th class="border-0 bg-light">
                                <div class="text-uppercase">Cena brutto</div>
                            </th>
                            <th class="border-0 bg-light">
                                <div class="text-uppercase">Kategoria</div>
                            </th>
                            <th class="border-0 bg-light">
                                <div class="text-uppercase">Usuń</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products">
                            <td class="align-middle">{{item.id}}</td>
                            <td><img src="{{item.pictureUrl}}" alt="{{item.name}}" class="img-fluid" style="max-width: 150px;"></td>
                            <td class="align-middle">{{item.name}}</td>
                            <td class="align-middle">{{item.price}}zł</td>  
                            <td class="align-middle">{{item.productType}}</td>
                            <td class="align-middle"><button type="button">Usuń</button></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center" *ngIf="(this.totalCount > 0 )">
                    <app-pager
                        [pageSize]="shopParams.pageSize"
                        [totalCount]="totalCount"
                        (pageChanged)="onPageChanged($event)"
                    ></app-pager>
                </div>
            </div>
        </div>
    </div>